---
layout: layout.liquid
title: Name Generator
---

<h1>Click to generate a name!</h1>
<div x-data="{ names: ['Makayla', 'America', 'Charity', 'Katie', 'Katelyn', 'Amanda', 'Emily', 'Kaylee', 'Kenzie', 'Molly', 'Reagan'], index: 0}" class="ball">
    <img alt="Button that says Click me!" src="/images/button.png" x-on:click="index = _.random(1,10)">
    <h1 class="name" x-text="names[index]"></h1>
</div>